<!DOCTYPE html>
<html lang="pt-BR">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Assets/icon.png">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Quiz</title>
</head>
<body>
    <div class="gradient">
        <main>
            <img src="Assets/icon.png">
            <h1>Quiz de literatura</h1>
            <p>Mil Cairão Ao Teu Lado</p>
            <input placeholder="Digite seu nome aqui =)" type="text" required name="name">
            <button onclick="local()">Começar</button>
        </main>
    </div>
 <script type="text/javascript">
    function local(){
        const name2 = document.querySelector("input").value;
        localStorage.setItem(name, name2);
        window.location.href = "/perguntas";
    }
 </script>       
</body>
</html>